$mobile-width: 320px;
$desktop-width: 1200px;

$mobile-padding: 15px;
$desktop-padding: 15px;

$black-color: #000000;
$white-color: #ffffff;
$grey-color: #d9d9d9;
$grey-color2: #808080;
$grey-color3: #b7b7b7;
$grey-color4: #b2b2b2;
$grey-color5: #f3f3f3;
$grey-color6: #aaaaaa;
$grey-color-dark: #2a2a2a;
$grey-color-light: #e4e4e4;
$grey-color-lighter: #f8f8f8;
$orange-color: #ff6c00;

$font-size-very-big: 72px;
$font-size-any-big: 30px;
$font-size-big: 22px;
$font-size-medium-big: 21px;
$font-size-medium-small: 19px;
$font-size-medium: 18px;
$font-size-small: 17px;
$font-size-any-small: 16px;
$font-size-smallest: 14px;
$font-size-smallest2: 13px;
$font-size-any-smallest: 12px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-biggest: 36px;
$line-height-biggest2: 29px;
$line-height-any-big: 27px;
$line-height-big: 22px;
$line-height-medium-big: 21px;
$line-height-medium: 20px;
$line-height-small: 17px;
$line-height-any-small: 14px;
$line-height-smallest: 12px;
